In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\techskills 360\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\techskills 360\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import  pandas as pd

In [4]:
#installing an openpyxl 
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\techskills 360\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

In [6]:
pip show openpyxl

Name: openpyxl
Version: 3.1.5
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: c:\Users\TECHSKILLS 360\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: et-xmlfile
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

#reading a xlms file
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

#reading the first few rows of the data
print(df.head())

  Student Registration Number               Timestamp    Sales Rep Name  \
0                     22-1039 2022-10-24 13:51:26.503     Patience Sosi
1                     22-1101 2022-11-29 17:00:05.988      Joan Cherono
2                      23-101 2022-12-01 15:53:15.000     Patience Sosi
3                      23-102 2022-12-02 10:22:44.975  Christine Kiarie
4                      23-103 2022-12-02 15:09:55.538     Patience Sosi

  Student's First Name Students Middle Name Student's Last Name  \
0           Clementine                Nduku               Musau
1               Gladys                  NaN              Cherop
2              Belinda               Akinyi               Abuom
3            Hempstone               Evance              Odongo
4               Sandra              Wanjiru             Muthoni

  Students ID Number Students ID Number Remarks  Student Telephone Contact  \
0           32446063                 National ID                0707250142
1           26521281                         NaN                0716065151
2           28014074                         NaN                 713863893
3           28216881                         NaN                 718600974
4           31023818                         NaN                0714703648

   Student Alternative Telephone Contact  ...  .29  .30  .31  .32  .33  .34  \
0                                    NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
1                                    NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
2                                    NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
3                                    NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN
4                                    NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN

   .35   .36  .37   .38
0  NaN   NaN  NaN   NaN
1  NaN   NaN  NaN   NaN
2  NaN   NaN  NaN   NaN
3  NaN   NaN  NaN   NaN
4  NaN   NaN  NaN   NaN

[5 rows x 81 columns]

In [8]:
import pandas as pd

#reading a xlms file
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

#read a specific file from the xlms file
sheet_name="Admission Data"
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx","Admission Data",engine='openpyxl')

#display the first few rows of the data frame
print(df.head())

           Timestamp 2023 First_name Middle_name Last_name   Reg_no  \
0 2024-09-04 22:47:06.877    Jacinta       Mueni   Mutunga  24-1425
1 2024-09-04 22:44:21.760  Josephine    Adhiambo    Ongere  24-0000
2 2024-09-04 20:41:18.774     Sylvia      Wangui    Mwangi  24-1443
3 2024-09-04 20:23:35.466  Christine       Vuhya     Osore  24-1462
4 2024-09-04 16:14:21.477     Mereen      Mwende   Ndigwa   24-1468

   Id_number    Id_remark      Tel_no Alt_tel_no              E-mail_address  \
0   40429779  National ID  0113828587        NaN  mutungajacinta34@gmail.com
1    2427781  National ID  0714681505        NaN        mjadhiambo@gmail.com
2  261560505  National ID  0711831388        NaN    mwangisylvia56@gmail.com
3   24763512  National ID  0718023204        NaN        tintin8462@gmail.com
4   42168235  National ID  0790910531        NaN      mereenmwende@gmail.com

   ...                  Languages Combo                  Full Name  \
0  ...  English Swahili French Kamba \n      Jacinta Mueni Mutunga
1  ...   English Swahili Luo Spanish \n  Josephine Adhiambo Ongere
2  ...        English Swahili Kikuyu \n       Sylvia Wangui Mwangi
3  ...         English Swahili Kamba \n      Christine Vuhya Osore
4  ...  English Swahili Germany Meru \n       Mereen Mwende Ndigwa

                 Start_date                        Class_id  \
0  Monday 02 September 2024  Batch 5 2024 Afternoon_Nairobi
1                       NaN                             NaN
2  Monday 02 September 2024  Batch 5 2024 Afternoon_Nairobi
3  Monday 02 September 2024  Batch 5 2024 Afternoon_Nairobi
4  Monday 02 September 2024  Batch 5 2024 Afternoon_Nairobi

             Date_of_issue              Expiry_date    year      .1   .2
0  Tuesday - August - 2024   Thursday - July - 2034  2024.0 NaN NaN  NaN
1   Saturday - June - 2024  Wednesday - June - 2034     NaN NaN NaN  NaN
2                      NaN                      NaN  2024.0 NaN NaN  NaN
3  Wednesday - June - 2021     Sunday - June - 2031  2024.0 NaN NaN  NaN
4                      NaN                      NaN  2024.0 NaN NaN  NaN

[5 rows x 185 columns]

In [9]:
import pandas as pd

#reading a xlms file
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

#read a specific file from the xlms file
sheet_name="Final Exam Perfomance"
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx","Final Exam Perfomance",engine='openpyxl')

#how many rows are null
df.isnull().sum()

                                    2873
No                                     1
STUDENTS_NAME                          0
UFA Reg No                             0
Time taken                           729
Final Theory                         108
Practical(A) out of 80               312
Oral Exam out of 20                  149
Final Practical                      109
Final Icare (Theory + Practical)    1295
Hospital Internship Score            122
Final Score                          125
Final Grade                           94
ID Numbers                           107
Hospital Internship Attended - 2      36
Start Date of Class                    6
End Date of Class                      3
Class ID                            1873
Year                                   2
Branch                                 0
Course                                 0
Month Of Class                         3
Type of Class                         25
Status                                 0
School Internship attended          2862
School Internship score             2862
dtype: int64

In [10]:
import pandas as pd

#reading a xlms file
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

#read a specific file from the xlms file
sheet_name="Final Exam Perfomance"
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx","Final Exam Perfomance",engine='openpyxl')

# Specify row indices to drop
rows_to_drop = [2498, 2739, 2750, 2878, 2879, 2880, 2881, 2882] 

#checking if rows have been dropped
print("Original DataFrame:")
print(df)
print("DataFrame after dropping rows:")
print()

Original DataFrame:
               No             STUDENTS_NAME UFA Reg No       Time taken  \
0     NaN     1.0             Jacinta Onono        449              NaN
1     NaN     2.0              Grace Njenga        451              NaN
2     NaN     3.0           Esther Nasimiyu        452              NaN
3     NaN     4.0             Hannah Karuga        453              NaN
4     NaN     5.0             Nancy Gitonga        454              NaN
...   ...     ...                       ...        ...              ...
2870  NaN  2873.0  Joseph Kiprotich Chelule     24-401   55 mins 9 secs
2871  NaN  2874.0     Kulthum Abdalla Ahmed     24-303  59 mins 12 secs
2872  NaN  2875.0     Mary Wanjiku Gathecha     24-379     1 hour 1 min
2873  NaN  2876.0            Steffy Dorothy     24-387  51 mins 59 secs
2874  NaN  2877.0     Khadija Tausir Athman     24-378  55 mins 20 secs

      Final Theory Practical(A) out of 80 Oral Exam out of 20 Final Practical  \
0              NaN                    NaN                 NaN             NaN
1              NaN                    NaN                 NaN             NaN
2              NaN                    NaN                 NaN             NaN
3              NaN                    NaN                 NaN             NaN
4              NaN                    NaN                 NaN             NaN
...            ...                    ...                 ...             ...
2870          88.0                     67                  14              81
2871          88.0                     62                  12              74
2872          82.0                     64                  16              80
2873          92.0                     61                  13              74
2874          64.0                     57                  11              68

     Final Icare (Theory + Practical)  ...    End Date of Class  \
0                                 NaN  ...  2021-07-28 00:00:00
1                                 NaN  ...  2021-07-28 00:00:00
2                                 NaN  ...  2021-07-28 00:00:00
3                                 NaN  ...  2021-07-28 00:00:00
4                                 NaN  ...  2021-07-28 00:00:00
...                               ...  ...                  ...
2870                               85  ...  2024-07-07 00:00:00
2871                               81  ...  2024-07-07 00:00:00
2872                               81  ...  2024-07-07 00:00:00
2873                               83  ...  2024-07-07 00:00:00
2874                               66  ...  2024-07-07 00:00:00

                            Class ID  Year   Branch     Course Month Of Class  \
0                                NaN  2021  Nairobi  Eldercare            May
1                                NaN  2021  Nairobi  Eldercare            May
2                                NaN  2021  Nairobi  Eldercare            May
3                                NaN  2021  Nairobi  Eldercare            May
4                                NaN  2021  Nairobi  Eldercare            May
...                              ...   ...      ...        ...            ...
2870  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2871  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2872  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2873  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2874  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February

     Type of Class     Status School Internship attended  \
0        Afternoon  Graduated                        NaN
1        Afternoon  Graduated                        NaN
2        Afternoon  Graduated                        NaN
3        Afternoon  Graduated                        NaN
4        Afternoon  Graduated                        NaN
...            ...        ...                        ...
2870     Afternoon  Graduated                        NaN
2871     Afternoon  Graduated                        NaN
2872     Afternoon  Graduated                        NaN
2873     Afternoon  Graduated                        NaN
2874     Afternoon       Fail                        NaN

     School Internship score
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
2870                     NaN
2871                     NaN
2872                     NaN
2873                     NaN
2874                     NaN

[2875 rows x 26 columns]
DataFrame after dropping rows:

In [11]:
#how many rows are null
df.isnull().sum()

                                    2873
No                                     1
STUDENTS_NAME                          0
UFA Reg No                             0
Time taken                           729
Final Theory                         108
Practical(A) out of 80               312
Oral Exam out of 20                  149
Final Practical                      109
Final Icare (Theory + Practical)    1295
Hospital Internship Score            122
Final Score                          125
Final Grade                           94
ID Numbers                           107
Hospital Internship Attended - 2      36
Start Date of Class                    6
End Date of Class                      3
Class ID                            1873
Year                                   2
Branch                                 0
Course                                 0
Month Of Class                         3
Type of Class                         25
Status                                 0
School Internship attended          2862
School Internship score             2862
dtype: int64

In [12]:
import pandas as pd

#reading a xlms file
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx")

#read a specific file from the xlms file
sheet_name="Final Exam Perfomance"
df=pd.read_excel("C:\\Users\\TECHSKILLS 360\\Downloads\\Ujuzi Data Summary.xlsx","Final Exam Perfomance",engine='openpyxl')

#how many rows are null
df.isnull().sum()

                                    2873
No                                     1
STUDENTS_NAME                          0
UFA Reg No                             0
Time taken                           729
Final Theory                         108
Practical(A) out of 80               312
Oral Exam out of 20                  149
Final Practical                      109
Final Icare (Theory + Practical)    1295
Hospital Internship Score            122
Final Score                          125
Final Grade                           94
ID Numbers                           107
Hospital Internship Attended - 2      36
Start Date of Class                    6
End Date of Class                      3
Class ID                            1873
Year                                   2
Branch                                 0
Course                                 0
Month Of Class                         3
Type of Class                         25
Status                                 0
School Internship attended          2862
School Internship score             2862
dtype: int64

In [13]:
# List of columns where you want to replace empty rows with "Null"
columns_to_replace = [' ', 'No','STUDENTS_NAME', 'UFA Reg No', 'Time taken', 'Final Theory',
       'Practical(A) out of 80', 'Oral Exam out of 20', 'Final Practical',
       'Final Icare (Theory + Practical)', 'Hospital Internship Score',
       'Final Score', 'Final Grade', 'ID Numbers',
       'Hospital Internship Attended - 2', 'Start Date of Class',
       'End Date of Class', 'Class ID', 'Year', 'Branch', 'Course',
       'Month Of Class', 'Type of Class', 'Status',
       'School Internship attended', 'School Internship score']
      # Replace with your column names
# Replace NaN or empty values in the specified columns with "Null"
df[columns_to_replace] = df[columns_to_replace].fillna("Null")
# Display the updated DataFrame to ensure the empty rows have been replaced
print(df)

                No             STUDENTS_NAME UFA Reg No       Time taken  \
0     Null     1.0             Jacinta Onono        449             Null
1     Null     2.0              Grace Njenga        451             Null
2     Null     3.0           Esther Nasimiyu        452             Null
3     Null     4.0             Hannah Karuga        453             Null
4     Null     5.0             Nancy Gitonga        454             Null
...    ...     ...                       ...        ...              ...
2870  Null  2873.0  Joseph Kiprotich Chelule     24-401   55 mins 9 secs
2871  Null  2874.0     Kulthum Abdalla Ahmed     24-303  59 mins 12 secs
2872  Null  2875.0     Mary Wanjiku Gathecha     24-379     1 hour 1 min
2873  Null  2876.0            Steffy Dorothy     24-387  51 mins 59 secs
2874  Null  2877.0     Khadija Tausir Athman     24-378  55 mins 20 secs

     Final Theory Practical(A) out of 80 Oral Exam out of 20 Final Practical  \
0            Null                   Null                Null            Null
1            Null                   Null                Null            Null
2            Null                   Null                Null            Null
3            Null                   Null                Null            Null
4            Null                   Null                Null            Null
...           ...                    ...                 ...             ...
2870         88.0                     67                  14              81
2871         88.0                     62                  12              74
2872         82.0                     64                  16              80
2873         92.0                     61                  13              74
2874         64.0                     57                  11              68

     Final Icare (Theory + Practical)  ...    End Date of Class  \
0                                Null  ...  2021-07-28 00:00:00
1                                Null  ...  2021-07-28 00:00:00
2                                Null  ...  2021-07-28 00:00:00
3                                Null  ...  2021-07-28 00:00:00
4                                Null  ...  2021-07-28 00:00:00
...                               ...  ...                  ...
2870                               85  ...  2024-07-07 00:00:00
2871                               81  ...  2024-07-07 00:00:00
2872                               81  ...  2024-07-07 00:00:00
2873                               83  ...  2024-07-07 00:00:00
2874                               66  ...  2024-07-07 00:00:00

                            Class ID  Year   Branch     Course Month Of Class  \
0                               Null  2021  Nairobi  Eldercare            May
1                               Null  2021  Nairobi  Eldercare            May
2                               Null  2021  Nairobi  Eldercare            May
3                               Null  2021  Nairobi  Eldercare            May
4                               Null  2021  Nairobi  Eldercare            May
...                              ...   ...      ...        ...            ...
2870  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2871  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2872  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2873  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February
2874  Batch 1 2024 Afternoon_Mombasa  2024  Mombasa  Eldercare       February

     Type of Class     Status School Internship attended  \
0        Afternoon  Graduated                       Null
1        Afternoon  Graduated                       Null
2        Afternoon  Graduated                       Null
3        Afternoon  Graduated                       Null
4        Afternoon  Graduated                       Null
...            ...        ...                        ...
2870     Afternoon  Graduated                       Null
2871     Afternoon  Graduated                       Null
2872     Afternoon  Graduated                       Null
2873     Afternoon  Graduated                       Null
2874     Afternoon       Fail                       Null

     School Internship score
0                       Null
1                       Null
2                       Null
3                       Null
4                       Null
...                      ...
2870                    Null
2871                    Null
2872                    Null
2873                    Null
2874                    Null

[2875 rows x 26 columns]

In [14]:
print(df.columns)

Index([' ', 'No', 'STUDENTS_NAME', 'UFA Reg No', 'Time taken', 'Final Theory',
       'Practical(A) out of 80', 'Oral Exam out of 20', 'Final Practical',
       'Final Icare (Theory + Practical)', 'Hospital Internship Score',
       'Final Score', 'Final Grade', 'ID Numbers',
       'Hospital Internship Attended - 2', 'Start Date of Class',
       'End Date of Class', 'Class ID', 'Year', 'Branch', 'Course',
       'Month Of Class', 'Type of Class', 'Status',
       'School Internship attended', 'School Internship score'],
      dtype='object')

In [15]:
df.isnull().sum()

                                    0
No                                  0
STUDENTS_NAME                       0
UFA Reg No                          0
Time taken                          0
Final Theory                        0
Practical(A) out of 80              0
Oral Exam out of 20                 0
Final Practical                     0
Final Icare (Theory + Practical)    0
Hospital Internship Score           0
Final Score                         0
Final Grade                         0
ID Numbers                          0
Hospital Internship Attended - 2    0
Start Date of Class                 0
End Date of Class                   0
Class ID                            0
Year                                0
Branch                              0
Course                              0
Month Of Class                      0
Type of Class                       0
Status                              0
School Internship attended          0
School Internship score             0
dtype: int64

In [24]:

df=pd.read_csv("D_Ujuzi.csv")